

body {
    background-image: url("../img/organic-tiles.png");
}

/*メッセージ*/
.messages {
    border: solid 3px #ccf;
    padding: 10px 50px;
}

.msg_line {
   border: 2px solid grey;
}

.share_line {
   border: 1px solid lightblue;
}
.share_item_content {
    margin:0px 50px;
    font-size:12pt;
}

/*フッター*/
.footer {
    font-size:9pt;
    margin-top:50px;
    margin-bottom:100px;
}


/*ランキングテーブル*/
.rank_table {
    font-size: 11pt;
    font-family: Arial;
    border-collapse: collapse;
    border: 1px solid silver;

}

.rank_table td, th {
    padding: 5px;
}

.rank_table tr:nth-child(1) {
    background: lightgreen;
}

.rank_table tr:nth-child(2) {
    background: lightgreen;
}

.rank_table tr:nth-child(3) {
    background: lightblue;
}

.rank_table tr:nth-child(4) {
    background: lightblue;
}

.rank_table tr:nth-child(5) {
    background: lightblue;
}

.rank_table tr:nth-child(6) {
    background: lightblue;
}

.rank_table tr:nth-child(21) {
    background: lightcoral;
}

.rank_table tr:nth-child(22) {
    background: lightcoral;
}

.rank_table tr:hover {
    background: silver;
    cursor: pointer;
}
/*ランキングテーブル*/