{% extends 'sns/layout.html' %}

{% block title %}トップページ{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row m-3 justify-content-center">
            <div class="card" style="width: 700px">
                <div class="card-header">
                    <h2>掲示板</h2>
                </div>
                <div class="card-body">

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% for item in contents %}

                        <hr class="msg_line">

                        <!-- 投稿メッセージ -->
                        <div>
                            {{item.content}}
                        </div>

                        <!-- イイネボタン -->
                        <div>
                            <a href="{% url 'good' item.id %}" class="btn btn-link btn-sm" role="button">
                                いいね = {{item.good_count}}
                            </a>
                            "{{item.owner}}" ({{item.pub_date | date:"Y/n/d g:i A"}})
                        </div>

                    {% endfor %}

                    <hr class="msg_line">

                    {% include "sns/pagination.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
