{% extends 'sns/layout.html' %}

{% block title %}掲示板{% endblock %}

{% block content %}

        <div class="container">
            <p></p>
            <h2>J2掲示板</h2>
            <p>Soccer Talk(サカトク)の掲示板です。</p>
            <p><a href="{% url "post" %}">投稿する</a>   <a href="{% url "find" %}">検索する</a></p>
        </div>
        <!-- 投稿内容 -->
        <div class="py-3">
            <div class="container">

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for item in contents %}

                    <hr class="msg_line">

                    <!-- 投稿メッセージ -->
                    <div>
                        {{item.content}}
                    </div>

                    <!-- イイネボタンと投稿ユーザ名 -->
                    <div>
                        <a href="{% url 'good' item.id %}" class="btn btn-link btn-sm" role="button">
                            いいね = {{item.good_count}}
                        </a>
                        "{{item.owner}}" ({{item.pub_date | date:"Y/n/d g:i A"}})
                    </div>

                {% endfor %}

                <hr class="msg_line">

                {% include "sns/pagination.html" %}

                <!-- /投稿内容 -->
            </div>
        </div>
{% endblock %}
