{% extends 'sns/layout.html' %}

{% block title %}検索{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row m-3 justify-content-center">
            <div class="card" style="width: 700px">
                <div class="card-header">
                    <h2>検索</h2>
                </div>
                <div class="card-body">
                    <form action="{% url 'find' %}" method="post">
                        {% csrf_token %}
                        {{ search_form }}
                        <button type="submit" class="btn btn-primary">検索</button>
                    </form>

                    {% for item in contents %}

                        <hr class="msg_line">

                        <!-- 投稿メッセージ -->
                        <div>
                            {{item.content}}
                        </div>

                        <!-- イイネボタンと投稿ユーザ名 -->
                        <div>
                            <a href="{% url 'good' item.id %}" class="btn btn-link btn-sm" role="button">
                                いいね = {{item.good_count}}
                            </a>
                            "{{item.owner}}" ({{item.pub_date | date:"Y/n/d g:i A"}})
                        </div>

                    {% endfor %}

                    <hr class="msg_line">

                </div>
            </div>
        </div>
    </div>
{% endblock %}