{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <!-- ヘッダー -->
    <header class="py-4">
        <div class="container text-center">
            <h1><a href={% url 'top' %}><img src="{% static 'img/soccer_talk.png' %}" alt="Soccer Talk"></a></h1>
        </div>
    </header>
    <!-- ヘッダー -->
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <!-- サブコンポーネント -->
        <div class="container">
            <!-- ブランド -->
            <a class="navbar-brand" href={% url 'top' %}>Soccer Talk</a>
            <!-- 切り替えボタン -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
                    aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- ナビゲーション -->
            <div class="collapse navbar-collapse" id="navbar-content">
                <!-- ナビゲーションメニュー -->
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a class="nav-link" href={% url 'top' %}>Top <span class="sr-only">(current)</span> </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'board' %}" class="nav-link">掲示板</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'post' %}" class="nav-link">投稿</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'signup' %}" class="nav-link">ユーザ登録</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'news' %}" class="nav-link">ニュース</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'ranking' %}" class="nav-link">ランキング</a>
                    </li>

                    {% if user.is_authenticated %}
                        <!-- ドロップダウンメニュー -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.get_username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'logout' %}">ログアウト</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">ログイン</a>
                        </li>
                    {% endif %}
                </ul>


            </div>
        </div>
        <!-- サブコンポーネント -->
    </nav>
    <!-- ナビゲーションバー -->

    {% block content %}
    {% endblock %}

    <!-- フッター -->
    <footer class="py-4 bg-dark text-light">
      <div class="container text-center">
        <!-- ナビゲーション -->
          <ul class="nav justify-content-center mb-3">
          <li class="nav-item">
            <a class="nav-link" href="#">Top</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Coupon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <!-- /ナビゲーション -->
        <p><small>Copyright &copy;2018 Soccer Talk, All Rights Reserved.</small></p>
      </div>
    </footer>
<!-- /フッター -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>