{% extends 'sns/layout.html'%}


{% block title %}news{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row m-3 justify-content-center">
                <div class="card" style="width: 700px;">
                    <div class="card-header">
                        <h2>ニュース</h2>
                    </div>
                    <div class="card-body">
                        {% for entry in entries %}
                            <hr class="msg_line">
                            投稿日時 : [{{ entry.published }}]
                            <br>
                            <a href="{{ entry.link }}" target="_blank">{{ entry.title }}</a>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>

{% endblock %}