{% extends 'sns/layout.html'%}


{% block title %}ランキング{% endblock %}

{% block content %}

        <div class="container">
            <p></p>
            <h2>J2ランキング表</h2>
            <p>Soccer Talk(サカトク)のJ2ランキング表です。自動昇格圏内は緑、プレーオフ昇格圏は青、J3降格圏内は赤で表示しています。</p>
        </div>
        <!-- フォーム -->
        <div class="py-3">
            <div class="container">
                <!-- テーブル -->
                {{ table | safe}}
                <!-- /テーブル -->
            </div>
        </div>
{% endblock %}